doctype html
html
  head
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    //- link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    //- link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href="/stylesheets/index.css")
    script(type="text/javascript" src="#{socketUrl}/socket.io/socket.io.js")
    script.
      var SOCKET_URL = "#{socketUrl}"
      var INITIAL_CONFIG = !{JSON.stringify(initialConfig)}
      var INITIAL_NOTE_BUTTONS = !{JSON.stringify(initialNoteButtons)}
    title Note Writer
  
  body
    
    #root
    
    script(type='text/javascript', src='/build/bundle.js')